# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Free Trial(0db53a07-752d-4def-a73d-cb6f3dc1ea19)'
    subscriptionId: '0db53a07-752d-4def-a73d-cb6f3dc1ea19'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'LibertyDevopsDemo'
    location: 'East US'
    templateLocation: 'Linked artifact'
    csmFile: 'https://github.com/Tawhirimatea/AzureLibertyDemo/template.json'
    csmParametersFile: 'https://raw.githubusercontent.com/Tawhirimatea/AzureLibertyDemo/main/parameter.json'
    deploymentMode: 'Incremental'
